[submodule "Hex1Mesh"]
	path = Hex1Mesh
	url = https://github.com/cenmir/Hex1Mesh.git
[submodule "core/Gmsh"]
	path = core/Gmsh
	url = https://github.com/JUSimOpt/Gmsh.git
[submodule "core/xfigure"]
	path = core/xfigure
	url = https://github.com/JUSimOpt/xfigure.git
